.App {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: transparent;
  .bg-container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(4px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: 10;

    .weather-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: auto 0 50px 0;
      width: fit-content;
      border: 1px solid #fff;

      * {
        display: flex;
      }
    }
  }
}
